code[class*="language-"],
pre[class*="language-"] {
    color: whitesmoke;
    background: none;
    text-shadow: none;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: darkslategray;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    text-shadow: none;
    background: darkslategray;
}

@media print {
    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: none;
    }
}

pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: black;
}

:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.prolog,
.token.doctype,
.token.cdata,
.token.comment    { color: gray; font-style: italic; }
.token.char,
.token.string     { color: lightgreen; }
.token.number     { color: tomato; }
.token.atrule,
.token.attr-value,
.token.keyword    { color: deepskyblue; font-weight: bold; }
.token.selector,
.token.attr-name,
.token.builtin    { color: orange; }
.token.class-name,
.token.function   { color: orchid; }
.token.property,
.token.tag,
.token.boolean,
.token.constant,
.token.symbol,
.token.constant   { color: lightcoral; }
.token.regex,
.token.important,
.token.variable   { color: lightseagreen; }
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.operator   { color: yellow; }
.token.punctuation{ color: lightgray; } 
.token.important,
.token.bold { font-weight: bold; }
.token.italic { font-style: italic; }
.token.slua-beta-comment    { color: Red; }
